*{
	-webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box; box-sizing: border-box;
}

// Layout for the page overview 
body{	
	width:1200px;
	margin: 0 auto;
}

main {
	position: relative;
	margin-top: 350px;
}

// Header styling
.header_container{
	position: fixed;
	height: 350px;
	width:1200px;
}


.header__title{
	position:relative;
	left:400px;
	top:100px;
}

.header__details{
	position: relative;
	left: 400px;
	top:  200px;
}

.header__picture{
	float: right;
}

// Clearfix work around
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */