* {
	-webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box; box-sizing: border-box;
}

/* Layout for the page overview */
body {	
	width:1200px;
	margin: 0 auto;
	font-family: "Lucida Sans Unicode" "Lucida Grande" sans-serif;
}

main {
	position: relative;
	padding-top: 350px;
	z-index:-1;
}

/* Header styling */
.header_container {
	position: fixed;
	width: inherit;
}

.header_container_text {
	display: block;
	height: 300px;
	background-color: white;
	/*background-image: url("../assets/ski2.jpeg");*/
	background-repeat: no-repeat;
}

.header__picture_container {
	width:400px;
	height:300px;
	float: right;
}

.header_nav {
	border-top: 2px solid black;
	border-bottom: 2px solid black;	
	background-color: white;	
	padding:10px;
	clear:both;
}
.header__title {
	color: black;
	display:inline-block;
	float:left;
}

.header__details {
	display:inline-block;
}

.header__picture {
	position: absolute;
	margin-top: -200px;
	top:50%;
}

/*Style for link text*/
.button {
	vertical-align: middle;
}

.button__textsyle{
	font-size: 24px;
	color: white;
	text-decoration: none;
	text-align: center;
}

.button_container{
	display: inline-block;
	width: 200px;
	height:50px;	
}

.button:hover{
	color:#c7b8a5 ;
}

.button--blue{
	background-color:#7da1df;
}

.button--orange{
	background-color:#fc5305;
}

 /*Clearfix work around*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack */
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */